{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}

    <div style="margin: 100px">
        <h3>个人资料编辑</h3>
        <div>
            {{ render_form(form, button_map={'submit': 'success'}) }}
        </div>
    </div>

{#    <form action="" method="post">#}
{#        {{ form.hidden_tag() }}#}
{#        <p>#}
{#            {{ form.username.label }} <br>#}
{#            {{ form.username(size=32) }} <br>#}
{#            {% for error in form.username.errors %}#}
{#                <span style="color: red">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.about_me.label }} <br>#}
{#            {{ form.about_me(cols=50, rows=4) }} <br>#}
{#            {% for error in form.about_me.errors %}#}
{#                <span style="color: red">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>{{ form.submit() }}</p>#}
{#    </form>#}

{% endblock %}