{% extends 'base.html' %}

{% block content %}

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
               aria-controls="pills-home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-h5-demo-tab" data-toggle="pill" href="#pills-profile" role="tab"
               aria-controls="pills-profile" aria-selected="false">Web&H5 Demo</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <a href="http://qa0:18080/mockserver/dashboard" target="_blank">Mock Server</a>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-h5-demo-tab">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Web&H5 Demo说明!</h4>
                <p> 依赖jenkins构建任务将js上传到cdn, 需要将最新版本配置到配置文件
                    jenkins任务地址：http://jenkins.infra.growingio.com/view/Staging/job/growing-sdk-web-push-sg/
                </p>
                <p> 注意：无埋点使用默认版本；Web Demo如果 浏览器模拟移动端 SDK不会请求。
                </p>
                <hr>
                <p class="mb-0">因为目前依赖jenkins任务，注意查看控制台是否存在报错。</p>
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="select-product-id">产品线</label>
                </div>
                <select class="custom-select" id="select-product-id" onchange="getH5Memo()">
                    <option value="saas" selected="selected">saas</option>
                    <option value="cdp">cdp</option>
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="select-type-id">类型</label>
                </div>
                <select class="custom-select" id="select-type-id" onchange="getH5Memo()">
                    <option value="web" selected="selected">网页</option>
                    <option value="h5">H5</option>
                </select>
            </div>

            <div class="input-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">项目ID(ai)</span>
                    </div>
                    <input type="text" id="h5-account-id" class="form-control" onchange="getH5Memo()"
                           value="{{ h5_demo.accountId }}">
                </div>
            </div>

            {# <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="vdsGroupSelectEnv">vds SDK环境</label>
                </div>
                <select class="custom-select" id="vdsGroupSelectEnv" onchange="getH5Memo()">
                    {% for i in h5_demo.vdsEnv %}
                        <option value="{{ i }}" selected="selected">{{ i }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="vdsGroupSelectVersion">vds SDK版本</label>
                </div>
                <select class="custom-select" id="vdsGroupSelectVersion" onchange="getH5Memo()">
                    {% for i in h5_demo.vdsVersion %}
                        <option value="{{ i }}" selected="selected">{{ i }}</option>
                    {% endfor %}
                </select>
            </div> #}

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="h5GroupSelectEnv">触达SDK环境</label>
                </div>
                <select class="custom-select" id="h5GroupSelectEnv" onchange="getH5Memo()">
                    {% for i in h5_demo.h5Env %}
                        <option value="{{ i }}" selected="selected">{{ i }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-prepend">
                    <label class="input-group-text" for="h5GroupSelectVersion">触达SDK版本</label>
                </div>
                <select class="custom-select" id="h5GroupSelectVersion" onchange="getH5Memo()">
                    {% for i in h5_demo.h5Version %}
                        <option value="{{ i }}" selected="selected">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>

            <a id="h5-demo-href" class="btn btn-primary" href="javascript:void(0);" target="_blank">打开Demo</a>
            <script>
                // 设置链接参数
                $(function () {
                    getH5Memo()
                });

                function getH5Memo() {
                    $("#h5-demo-href").attr("href",
                        "{{ url_for('toolbox.h5_test') }}" +
                        "?product=" + $("#select-product-id").val() +
                        "&type=" + $("#select-type-id").val() +
                        "&accountId=" + $("#h5-account-id").val() +
                        "&vdsEnv=" + $("#vdsGroupSelectEnv option:selected").text() +
                        "&vdsVersion=" + $("#vdsGroupSelectVersion option:selected").text() +
                        "&h5Env=" + $("#h5GroupSelectEnv option:selected").text() +
                        "&h5Version=" + $("#h5GroupSelectVersion option:selected").text()
                    );
                }
            </script>
        </div>
    </div>
{% endblock %}