{% extends 'base.html' %}

{% block content %}
{#    <button id="remove" class="btn btn-danger" disabled>#}
{#        <i class="glyphicon glyphicon-remove"></i> Delete#}
{#    </button>#}
    <button id="startMaster" class="btn btn-danger">启动Locust</button>
    <button id="startAll" class="btn btn-danger" disabled>启动测试</button>
    <table id="tb_departments"></table>
    <script>
        $table = $('#tb_departments')
        {#var $remove = $('#remove')#}
        // 启动测试
        var $startMaster = $('#startMaster')
        var $startAll = $('#startAll')
        var selections = []

        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                console.log(row)
                return row.id
            })
        }

        function getSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row
            })
        }

        function responseHandler(res) {
            $.each(res.rows, function (i, row) {
                row.state = $.inArray(row.id, selections) !== -1
            })
            return res
        }

        window.operateEvents = {
            'click .like': function (e, value, row, index) {
                alert('You click like action, row: ' + JSON.stringify(row))
            },
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                    field: 'id',
                    values: [row.id]
                })
            }
        }

        function initTable() {
            $table.bootstrapTable({
                url: '/locusts/test/slave',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                {#queryParams: oTableInit.queryParams,//传递参数（*）#}
                sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                {#minimumCountColumns: 2,             //最少允许的列数#}
                clickToSelect: true,                //是否启用点击选中行
                {#height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度#}
                {#uniqueId: "ID",                     //每一行的唯一标识，一般为主键列#}
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [{
                    checkbox: true
                }, {
                    field: 'id',
                    title: 'id'
                }, {
                    field: 'hostname',
                    title: '机器名'
                }, {
                    field: 'ip',
                    title: 'ip'
                }, {
                    field: 'username',
                    title: '用户名'
                }, {
                    field: 'desc',
                    title: '描述'
                },]
            })
            $table.on('check.bs.table uncheck.bs.table ' +
                'check-all.bs.table uncheck-all.bs.table',
                function () {
                    {#$remove.prop('disabled', !$table.bootstrapTable('getSelections').length)#}
                    $startAll.prop('disabled', !$table.bootstrapTable('getSelections').length)
                    // save your data, here just save the current page
                    selections = getIdSelections()
                    // push or splice the selections if you want to save all data selections
                })
            $table.on('all.bs.table', function (e, name, args) {
                console.log(name, args)
            })

            {#$remove.click(function () {#}
            {#    var ids = getIdSelections()#}
            {#    var rows = getSelections()#}
            {#    rows.param.join(#}
            {#        {#}
            {#            'key': 'vales'#}
            {#        }#}
            {#    )#}
            {#    manage(rows)#}
            {#    $table.bootstrapTable('remove', {#}
            {#        field: 'id',#}
            {#        values: ids#}
            {#    })#}
            {#    $remove.prop('disabled', true)#}
            {# }) #}

            $startMaster.click(function () {
                data = start_master()
                $startMaster.innerHTML = '停止Locust'
                //if (data == 'running') {
                 //   $startMaster.innerHTML = '停止Locust'
                //} else {
                 //   $startMaster.innerHTML = '启动Locust'
                //}
            })
            $startAll.click(function () {
                    var rows = getSelections()
                    start_slave(rows)
                }
            )
        }

        function start_slave(rows) {
            $.ajax(
                {
                    url: '/locusts/test',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(
                        rows
                    )
                }
            )
        }

        $(function () {
            initTable()
            $('#locale').change(initTable)
        })

        function manage(param) {
            $.ajax(
                {
                    url: '/locusts/test',
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(
                        param
                    )
                }
            )
        }


        function start_master() {
            var data = null
            $.ajax({
                url: '/locusts/master',
                type: 'POST',
                contentType: "application/json",
                data: JSON.stringify(
                    {
                        'command': 'start_locust'
                    }
                ),
                dataType: 'JSON',
                success: function (result) {
                    data = result
                }
            });
            return data
        }


    </script>
{% endblock %}

